body, h1, h2, h3, h4, h5, h6, button, .button{
	font-family:"europa","Avenir Next","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.heading{
	margin-top: 30px;
}
.instructions{

}
.pop{
    text-align: center;
    color: rgb(211,54,130);
    font-weight: 700;
    border-radius: 2px;
}
.colorcontainer{
	padding: 0;
}

.colorblock{
  height: 400px;
}

.rgb-bar{
 margin-bottom: 25px;
}

.restart, .site-title{
    display: inline;
}
.restart{
	margin-top: 5px;
    letter-spacing: 1px;
}
.rgb-name{
    font-weight: 700;
    font-size: 1.5rem;
}
.pop,.site-title{
    letter-spacing: 2px;
}
.site-title{
    font-size:1.85rem;
}