body, h1, h2, h3, h4, h5, h6, button, .button{
	font-family:"europa","Avenir Next","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

body{
	background-image: url('images/bgnoise_lg.png');
}

.heading{
	margin-top: 30px;
}

.pop, .site-title{
    font-weight: 700;
}

.pop{
    color: rgb(211,54,130);
}

.color-container, .rgb-bar{
  padding: 30px;
  background-color: #fff;
  border-radius: 2px;
}
.color-box{
	padding: 0;
}

.colorblock{
  height: 400px;
}

.rgb-bar{
 margin-bottom: 25px;
}

.restart, .site-title{
    display: inline;
}
.restart{
	margin-top: 5px;
    letter-spacing: 1px;
}
.rgb-name{
    font-weight: 700;
    font-size: 1.5rem;
}
.pop,.site-title{
    letter-spacing: 2px;
}
.site-title{
    font-size:1.85rem;
}

#toFind{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
}